*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 10px;
  color: #000;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: transparent;
  line-height: 24px;
  font-size: 16px;
}

button {
  border: none;
  border-radius: 4px;
  background-color: transparent;
  font-family: inherit;
}

input,
textarea {
  border-radius: 4px;
  font-family: inherit;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}
